$font: "Roboto", "Arial", sans-serif;
$font-size: 16px;
$line-height: 18px;

$color-blue: #1261b6;
$color-red: #fc0043;
$bg-base: #ffffff;

$tablet-screen: 660px;
$desktop-screen: 1000px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

